* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo-img {
  width: 30%;
  height: 80%;
  margin-top: 10px;
}
.snl {
  font-size: 20px;
  height: 100%;
  padding-top: 23px;
}

.logo-wimnet {
  width: 70%;
}

.logo {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.nav-bar {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.middle-nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.middle-nav-bar a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #f8f9fa;
  margin-top: 30px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
}
