h1 {
  font-weight: 400;
}
h2 {
  font-weight: 600;
}
.index {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
.parent {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-self: center;
  margin-bottom: 20px;
}
.description-header {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}
.description-text {
  margin-bottom: 10px;
}
.latest-results {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
}
.results-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}
.fig-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.fig3 {
  width: 70%;
}
.fig4 {
  width: 70%;
}
.fig9 {
  width: 100%;
}
.fig-description {
  margin-top: 40px;
  margin-bottom: 10px;
}
.fig {
  margin-top: 10px;
  margin-bottom: 20px;
}
